@layer modules {
  @layer plut-optional {
    .dnd5e.sheet.actor .sheet-header .header-exp {
      flex: 0 0 170px;
    }
    .dnd5e.sheet.actor.character .sheet-header .experience {
      max-width:150px;
    }
    .dnd5e.sheet.actor.character .sheet-header .charlevel {
      align-items:center;
      display:flex;
      justify-content:flex-end;
    }
    .dnd5e.sheet.actor.character .sheet-header .charlevel>label:first-child {
      margin-right:4px;
    }

    /* --- YOUR BUTTON --- */
    .imp-cls__btn-sheet-level-up {
      display:block;
      width:30px;
      height:30px;
      font-size:var(--font-size-14);
      line-height:normal;
      color:var(--dnd5e-color-gold);
      background:var(--dnd5e-color-black);
      border:none;
      border-radius:4px;
      margin-left:6px;
    }

    .imp-cls__btn-sheet-level-up[disabled] {
      cursor:not-allowed;
      color:#929292;
    }

    .dnd5e.sheet.actor.character .sheet-header>.right>div:last-child {
      margin-top:-1rem;
    }
  }
}
